* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Gilroy, sans-serif;
}

html, body {
    height: 100%;
    width: 100%;
}

#main {
    height: 100%;
    width: 100%;
   
}

#nav {
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 30px;
    position: relative;
}

#nav-part1 {
    
    display: flex;
    align-items: center;
    background-color: rgb(250, 247, 247);
    color: rgb(0, 0, 0);
    gap: 10px;
}

#nav h3 {

    font-size: 15px;
    border: 2px solid #000;
    font-weight: 500;
    padding: 5px 15px;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.3s ease;
}

#nav h3:hover {
    background-color: rgb(0, 0, 0);
    color: white;
}

/* Fixing icon alignment */
#nav i {
    font-size: 20px;
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

h1{
    
        color: rgb(0, 0, 0);
        position: absolute;
        top: 2.6%;
        left: 50%;
        transform: translate(-50%,-50%);
        white-space: nowrap; /* Prevents text from wrapping */
    
}
#one{
    position: absolute;
        top: 80%;
        left: 50%;
        transform: translate(-50%,-50%);
        white-space: nowrap; 

}
#two{
    position: absolute;
        top: 50%;
        right: 10px;
        transform: translate(-50%,-50%);
        white-space: nowrap; 


}
video{
    position: absolute;
    right: 0%;
    top: 0%;
    z-index: -1;
    width: 100%;
    height: auto;

}
#main h2{   
    color: rgb(0, 0, 0);
    font-size: 150px;
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    white-space: nowrap; /* Prevents text from wrapping */
    font-family: "Bebas Neue", serif;
    font-weight: 400;
    font-style: normal;

}

#main h2:hover {
    color: white;
}
#four{
    position: absolute;
    top: 58%;
    left: 50%;
    transform: translate(-50%,-50%);
    white-space: nowrap; /* Prevents text from wrapping */
    font-family: "Bebas Neue", serif;
    font-weight: 400;
    font-style: normal;
    color: beige;
}

}